<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
   <!-- <script src="../js/bootstrap.min.js"></script>-->
    <title>Title</title>
</head>
<body>
<div class="">
   <!-- <div class="row">
        <div class="col-sm-3" ></div>
        <div class="col-sm-2" style="background-color:lavender;">.col-sm-4</div>
        <div class="col-sm-4" style="background-color:lavenderblush;">.col-sm-8</div>
        <div class="col-sm-3"></div>
    </div>-->
   <!-- <div class="container-fluid">
        <h1>Data</h1>
            <div class="row">
                <div class="col-sm-3" ></div>
                <div class="col-sm-2">网站</div>
                <div class="col-sm-4">
                    <select style="width: 90%">
                        <option value="1">试用</option>
                        <option value="2">特价</option>
                        <option value="3">抢购</option>
                        <option value="4">划算</option>
                    </select>
                </div>
                <div class="col-sm-3" ></div>
            </div>
            <div class="row">
                <div class="col-sm-3" ></div>
                <div class="col-sm-2">分类</div>
                <div class="col-sm-4">
                    <select style="width: 90%">
                        <option value="cat1">美妆</option>
                    </select>
                </div>
                <div class="col-sm-3" ></div>
            </div>
        <div class="row">
            <div class="col-sm-3" ></div>
            <div class="col-sm-2">网站</div>
            <div class="col-sm-4">
                <select style="width: 90%">
                    <option value="1">试用</option>
                    <option value="2">特价</option>
                    <option value="3">抢购</option>
                    <option value="4">划算</option>
                </select>
            </div>
            <div class="col-sm-3" ></div>
        </div>
        <div class="row">
            <div class="col-sm-3" ></div>
            <div class="col-sm-2">分类</div>
            <div class="col-sm-4">
                <select style="width: 90%">
                    <option value="cat1">美妆</option>
                </select>
            </div>
            <div class="col-sm-3" ></div>
        </div>
    </div>-->
    <button type="button" class="btn btn-outline-info">信息</button>
</div>
</body>
</html>